Django==5.2.17
djangorestframework==3.16.1
django-filter==24.2
django-cors-headers==4.3.1
django-allauth==65.19.1
django-crispy-forms==2.0
crispy-bootstrap5==0.7
django-extensions==3.2.3
pillow==11.3.0
requests==2.32.5
python-decouple==3.8
stripe==7.8.0
django-modeltranslation==0.18.11
django-countries==7.6.1
django-money==3.4.1
celery==5.3.4
redis==5.0.1
gunicorn==23.0.0
whitenoise==6.11.0
psycopg2-binary==2.9.11
dj-database-url==3.0.1
